<agm-map (mapClick)="mapClick($event)" [latitude]="lat" [longitude]="lng" [styles]="styles" [zoom]="12">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>

    <agm-marker
        (markerClick)="markerClick($event, car)"
        *ngFor="let car of cars"
        [agmFitBounds]="true"
        [iconUrl]="car.icon"
        [latitude]="car.lat"
        [longitude]="car.lng"
    ></agm-marker>

    <agm-polygon *ngIf="0" [paths]="paths" fillColor="#0000FF" fillOpacity="0.6" strokeColor="#FF0000"
                 strokeOpacity="0.8" strokeWeight="2">
    </agm-polygon>

    <agm-circle
        *ngIf="selectedCar"
        [latitude]="selectedCar.goalDestination.lat"
        [longitude]="selectedCar.goalDestination.lng"
        [radius]="selectedCar.goalDestination.radius"
        [visible]="!!selectedCar"
        fillColor="#d28500"
        fillOpacity="0.2"
        strokeColor="#008aff"
        strokeOpacity="0.4"
        strokeWeight="2"
    >
    </agm-circle>
</agm-map>

<div id="info-window" *ngIf="selectedCar">
    <div class="media">
        <div class="mr-3">
            <img src="assets/eq.jpg" [title]="selectedCar.title" height="100">
            <p style="padding: 10px; font-size: 18px;">
                $ <input class="form-control" style="width: 70px; display: inline-block;" [(ngModel)]="settingsService.store.cars[selectedCar.id].price" type="text" placeholder="Price / Minute"> / Min.<br>
                (min. $ <input class="form-control" style="width: 70px; display: inline-block;" [(ngModel)]="settingsService.store.cars[selectedCar.id].minPurchase" type="text" placeholder="Price / Minute">)
            </p>
        </div>
        <div class="media-body" style="font-size: 18px;">
            <h5 class="mt-0" style="font-size: 24px;">{{selectedCar.title}} <span class="badge badge-warning">DRIVING</span></h5>
            {{selectedCar.subTitle}}
            <hr>
            Fuel for {{selectedCar.fuel}} km
            <div style="padding-top: 10px;">
                <button type="button" class="btn btn-danger btn-lg float-right ml-1">CALL IT BACK</button>
            </div>
        </div>
    </div>
</div>
