<div class="container-fluid" id="select-screen">
    <div class="row align-items-center">
        <div class="col-md-6 col-sm-12">
            <img src="assets/logo-without-title-blue.svg" routerLink="/renter" style="width: 50%; cursor: pointer; outline: none;">
            <h2><strong style="color: #3E87BC;">Rent</strong> a Car</h2>
        </div>
        <div class="col-md-6 col-sm-12">
            <img src="assets/logo-without-title.svg" style="width: 50%; cursor: pointer; outline: none;">
            <h2><strong style="color: #50a845;">Share</strong> my Car</h2>
        </div>
    </div>
</div>
